html {
    background-color: #080812;
}

main {
  padding-top: 1.5rem;
}

small {
  display: block;
  text-align: left;
  padding-left: 24px;
}

.App {
  text-align: center;
  background-color: #080812;
}

.btn {
  margin: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p {
  text-align: justify;
  padding: 1rem;
}
