.wrapper {
  position: absolute;
  left: 0;
  right: 0;
}  
/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 150ms linear ;
}
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

main {
  padding-top: 1.5rem;
}

small {
  display: block;
  text-align: left;
  padding-left: 24px;
}

.App {
  text-align: center;
}

.btn {
  margin: 5px;
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

.App-link {
  color: #61dafb;
}

p {
  text-align: justify;
  padding: 1rem;
}

